@model CafeMenu.Models.CategoryModel

@{
    ViewData["Title"] = "Edit Category";
    var categories = ViewBag.Categories as List<CategoryModel> ?? new List<CategoryModel>();
    List<SelectListItem> categoriesList = (from p in categories
                                           select new SelectListItem
                                                   {
                                                       Text = p.CategoryName,
                                                       Value = p.CategoryId.ToString()
                                                   }).ToList();
    categoriesList.Insert(0, new SelectListItem { Text = "Select Parent Category", Value = "0" });

}

<h2>@ViewData["Title"]</h2>


<form asp-action="Edit" method="post">
    <label>Category Name:</label>
    <input asp-for="CategoryName" />
    <label>Parent Category:</label>
    @Html.DropDownList("ParentCategoryId", categoriesList, new { @id = "ParentCategoryId" })


    <button type="submit">Update</button>
</form>